<div class="cv-search">
    <input
      type="text"
      placeholder="Rechercher un CV..."
      [(ngModel)]="searchTerm"
      (input)="filterCvs()"
    />
</div>
<div class="cv-container">
  <div class="cv-list">
    <app-liste [cvs]="filteredCvs" (cvSelected)="selectCv($event)"></app-liste>
  </div>

  <div class="cv-detail">
    <app-detail [cv]="selectedCv" (embauche)="selectedCv && selectedCv.id !== undefined && embaucher(selectedCv.id)"></app-detail>
  </div>
</div>
<app-liste-embauches [embauches]="embauches" ></app-liste-embauches>
